:root {
  --main-blue: #0C1C89;
  --dark-blue: #012169;
  --sky-blue: #29B4FD;
  --orange: #ED8B00;
  --indigo: #4C47D7;
  --fonts: Roboto;

  font-family: var(--fonts);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

#app {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
  background-image: url(../public/cell-bg/bg-1290.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  min-width: 280px;
  margin: 0 auto;
  padding: 8px;
}

.label {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 10pt;
  font-weight: 100;
  color: white;
}

.label__title {
  font-size: 36pt;
  font-weight: 400;
}

.button {
  min-width: 240px;
  height: 52px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-family: inherit;
}

.button__primary {
  background-color: var(--sky-blue);
}

.button__secondary {
  background-color: var(--orange);
}